.header .main-menu{
    font-size: 16px;
}
.header .main-menu a {
    font-weight: bold;
    text-decoration: none;
}
.header .sub-menu {
    display: flex;
    position: absolute;
    /*서브 메뉴를 절대위치로 설정하여 부모요소로부터 독립*/
    top: 100%;
    /* 부모 요소의 하단에 서브메뉴 배치*/
    width: 100%;
    left: 0;
    margin-left: 13%;
    padding: 10px;
    list-style-type: none;
    z-index: 10;
    
}
.header .sub-menu a{
    text-decoration: none;
    color: #92BEFE;
}
.header .sub-menu li {
    padding : 0 10px;
    margin-bottom: 5px;

}
.header .sub-menu li:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 992px) {
    .header .sub-menu {
        position: static;
        margin-left: 0;
        flex-direction: column; /*세로로*/
    }

    .header .main-menu li:hover .sub-menu {
        display: block;
    }
}